/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-raised-button{
    background-color: rgb(35, 88, 150);
    color: white;
}

.green-snackbar{
    background: green;
    text-align: center;
}

.red-snackbar{
    background: red;
    text-align: center;
}

.tabspace{
    display:inline-block; width:ONE-TAB-WIDTH;
}